# This is the control file for Travis continuous integration system.
#
# It is used automatically for the repositories on Github if it's found in the
# root directory of the project.
language: c
sudo: required

# Specify the default platform.
os: linux
dist: xenial
arch: arm64

jobs:
    include:
        - dist: xenial
          compiler: gcc
          env: WXGTK_PACKAGE=libwxgtk3.0-dev

branches:
    only:
        - aes-neon

before_install:
    - autoreconf

script:
    - set -e && echo 'Configuring...' && echo -en 'travis_fold:start:script.configure\\r'
    - ./configure
    - echo -en 'travis_fold:end:script.configure\\r'
    - echo 'Building...' && echo -en 'travis_fold:start:script.build\\r'
    - make --trace
    - echo -en 'travis_fold:end:script.build\\r'
    - echo 'Testing...' && echo -en 'travis_fold:start:script.test\\r'
    - ls -l
    - ./sqlite3shell test1.db3 ".read test/test1.sql"
    - echo -en 'travis_fold:end:script.test\\r'

# The "set +e" is a workaround for https://github.com/travis-ci/travis-ci/issues/6522

